@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: #faf5f0;
    background: radial-gradient(circle, transparent 20%, #faf5f0 20%, #faf5f0 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #faf5f0 20%, #faf5f0 80%, transparent 80%, transparent) 22.5px 22.5px, linear-gradient(#d4d8d6 1.8px, transparent 1.8px) 0 -0.9px, linear-gradient(90deg, #d4d8d6 1.8px, #faf5f0 1.8px) -0.9px 0;
    background-size: 45px 45px, 45px 45px, 22.5px 22.5px, 22.5px 22.5px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.hero h1, .hero h2, .hero p {
    margin: 0;
    padding: 0;
}

.hero h1 {
    font-size: 4em;
}

.hero p {
    margin: 1em 0;
}

.search {
    display: flex;
    align-items: center;
    max-width: 30em;
    margin: 1em auto;
    overflow: hidden;
    border-radius: 2.5em;
    border: 1px solid #757a78;
}
  
.search input[type="text"] {
    flex-grow: 1;
    padding: 1em;
    border: none;
}

.search input[type="text"]:focus {
    outline: none;
}

.search input[type="button"] {
    padding: 1em;
    width: 7em;
    background-color: #757a78;
    color: white;
    border: none;
    cursor: pointer;
}
  
.search input[type="button"]:disabled {
    background-color: #ccc;      /* Button background when disabled */
    cursor: not-allowed;         /* Change cursor to not-allowed when disabled */
}

.movies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
}

.card {
    width: 15em;
    height: 30em;
    border: 0.1em solid #757a78;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    padding: 0;
    border-radius: 1em;
    overflow: hidden;
    align-items: center;
    background-color: rgba(249, 241, 234);
}

.card h5 {
    margin: 0.8em;
}
.card p {
    margin: 0.5em;
}

.card img {
    height: 20em;
    width: 15em;
    object-fit: cover;
}